*{
  margin: 0;
  padding: 0;
  font-family: Comic sans MS;
  user-select: none;
}
body{
  background: rgb(133,255,147);
  background: radial-gradient(circle, rgba(133,255,147,1) 16%, rgba(34,193,195,1) 55%, rgba(255,153,0,0.9110994739692753) 86%);
}
.inputBox{
  position: relative;
  width: 450px;
}
.inputBox h2{
  font-size: 28px;
  color:rgb(47, 0, 255);
}
.inputBox input{
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  margin: 15px 0 20px;
  background: rgb(255, 217, 0);
  padding: 0 20px;
  font-size: 24px;
  Letter-spacing: 4px;
  box-sizing: border-box;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px;
}
.inputBox input::placeholder{
  Letter-spacing: 0px;
}
.inputBox #btn{
  position: relative;
  cursor: pointer;
  color: #fff;
  background: #333;
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
}
.inputBox #btn:active{
  background: #9c27b0;
}
.mypasswords{
  position: relative;
  background: rgb(255, 119, 183);
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
}
th{
background-color: #65ffea;
}